﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.CompanyDetailsViewModel
@{
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}
<form class="form-horizontal well">
    <div class="form-group-lg">
        <label for="companyName" class="control-label">Company Name</label>
        <input id="companyName" class="form-control" value="@Model.Name" />
    </div>
    <div class="form-group-lg">
        <label for="websiteUrl" class="control-label">Company Website</label>
        <input id="websiteUrl" class="form-control" value="@Model.WebsiteUrl" placeholder="www.example.com" />
    </div>
    <br />
    <div class="form-group-lg">
        <button type="button" class="btn btn-success btn-lg" onclick="updateCompanyDetails()">
            <i class="fa fa-floppy-o"></i> Update
        </button>
    </div>
</form>


<script type="text/javascript">
    var apiBase = getApiBase()  + "api/";
    function updateCompanyDetails() {
        var entity = {
            "Id": @Html.Raw(Json.Encode(Model.Id)),
            "Name": $('#companyName').val(),
            "WebsiteUrl": $('#websiteUrl').val()
        };

        $.ajax({
                url: apiBase + "Company/Put",
                dataType: "json",
                data: JSON.stringify(entity),
                contentType: "application/json; charset=utf-8",
                headers: getTokenWithHeader(),
                type: "PUT",
                success: function () {
                    toastr.success('Company details have been updated');
                },
                error: function () {
                    toastr.error('Something went wrong');
                }
            });
    }
</script>