﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href ="/" class="navbar-brand"><i class="fa fa-users text-primary"></i> Employee Smart</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @{ if (Request.IsAuthenticated)
                    {
                        // All links that require authentication will go here, so we don't show the user.
                        <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                        <li>@Html.ActionLink("Sicknesses", "Index", "EmployeeSickness")</li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            &nbsp;
        </div>
    </div>
    @RenderBody()
    <hr />
    <footer>
        <p class="small">&copy; @DateTime.Now.Year - Sam Murray</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)
</body>
</html>
