﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Manage/Index"><i class="fa fa-user-circle text-primary"></i> @ViewData["FullName"] </a>
        </li>
        <li><a href="javascript: logOff()"><i class="fa fa-sign-out text-primary"></i> Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="~/Account/Register"><i class="fa fa-user text-primary"></i> Register</a></li>
        <li><a href="~/Account/Login"><i class="fa fa-sign-in text-primary"></i> Log in</a></li>
    </ul> 
}

@section Scripts {
    @Scripts.Render("~/bundles/utils")
}
<script type="text/javascript">
    function logOff() {
        removeToken();
        document.getElementById('logoutForm').submit();
    }
</script>