﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.MemberDetailsViewModel
@{
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}
<form class="form-horizontal well">
    <div class="form-group-lg">
        <label for="forename" class="control-label">Forename</label>
        <input id="forename" class="form-control" value="@Model.Forename" />
    </div>
    <div class="form-group-lg">
        <label for="surname" class="control-label">Surname</label>
        <input id="surname" class="form-control" value="@Model.Surname" />
    </div>
    <div class="form-group-lg">
        <label for="email" class="control-label">Email</label>
        <input id="email" class="form-control" value="@Model.Email" />
    </div>
    <div class="form-group-lg">
        <label for="phoneNumber" class="control-label">Mobile Number</label>
        <input id="phoneNumber" class="form-control" value="@Model.PhoneNumber" placeholder="e.g. +447921069839"/>
    </div>
    <br />
    <div class="form-group-lg">
        <button type="button" class="btn btn-success btn-lg" onclick="updateAppMember()">
            <i class="fa fa-floppy-o"></i> Update
        </button>
    </div>
</form>


<script type="text/javascript">
    var apiBase = getApiBase() + "api/";
    function updateAppMember() {
        var entity = {
            "Id": @Html.Raw(Json.Encode(Model.Id)),
            "Forename": $('#forename').val(),
            "Surname": $('#surname').val(),
            "Email": $('#email').val(),
            "PhoneNumber": $('#phoneNumber').val()
        };
        
        $.ajax({
                url: apiBase + "AppMember/Put",
                dataType: "json", 
                data: JSON.stringify(entity),
                headers: getTokenWithHeader(),
                contentType: "application/json; charset=utf-8",
                type: "PUT",
                success: function () {
                    toastr.success('Your details have been updated');
                },
                error: function () {
                    toastr.error('Something went wrong');
                }
            });
    }
</script>