﻿@model List<Murray.OnlineStaffManager.Web.Models.ViewModels.ListEmployeesViewModel>
@{
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}
@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Striped).SetResponsive().Begin())
{
    @table.TableHeaderRow("Name", "Start Date", "Actions")
    foreach (var employee in Model)
    {
        using (var row = @table.TableDataRow().SetId(employee.Id.ToString()).Begin())
        {
            @row.TableData(employee.Forename + " " + employee.Surname)
            @row.TableData(employee.EmployeeStartDate.ToString("dd/M/yyyy"))
            using (var tableData = row.TableData().Begin())
            {
                <div class="btn-group-sm">
                    @Html.Bootstrap().LinkButton("Reactivate", "Reactivate", "Employee",
                      new
                      {
                          Id = employee.Id
                      }).SetState(ButtonState.Success).SetSize(ButtonSize.Sm).SetIcon(Icon.Refresh)
                </div>
            }
        }
    }
}

<script type="text/javascript">
    var apiBase = getApiBase() + "api/";
    $(document).on("click", ".open-delete-employee", function () {
        // Get employeeId from the data-attr
        var employeeId = $(this).data('employee-id');
        // Set hidden field in modal to retrieve later
        $('.modal-body #employeeId').val(employeeId);
        });

        function deleteEmployee() {
            // Get id of the employee that was clicked on
            var employeeId = $(".modal-body #employeeId").val();

            var entity = {
                "Id": employeeId
            };

            if (employeeId.length > 0) {
                $.ajax({
                    url: apiBase + "Employee/Delete",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    headers: getTokenWithHeader(),
                    data: JSON.stringify(entity),
                    type: "DELETE",
                    success: function () {
                        // Find the employee in table and remove them from the DOM.
                        $('#' + employeeId).remove();
                            toastr.success('Employee Removed Successfully');
                    },
                    error: function () {
                        toastr.error("Employee with Id: " + employeeId + " could not be removed.");
                    }
                });
            }
            else {
                toastr.error("Employee with Id: " + employeeId + " could not be removed.");
            }
    }
</script>