﻿@model IEnumerable<Murray.OnlineStaffManager.Web.Models.ViewModels.SicknessTypesListViewModel>
@{
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}
@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Striped).SetResponsive().Begin())
{
    @table.TableHeaderRow("Sickness Type", "Status", "Created", "Actions")
    foreach (var sicknessType in Model)
    {
        using (var row = @table.TableDataRow().SetId(sicknessType.Id.ToString()).Begin())
        {
            @row.TableData(sicknessType.Description)
            if (sicknessType.IsActive)
            {
                @row.TableData("Active")

            }
            else
            {
                @row.TableData("Deleted")
            }
            @row.TableData(sicknessType.CreatedOn.ToString("dd/M/yyyy"))

            using (var tableData = row.TableData().Begin())
            {
                <a href="#myModal" class="btn btn-danger open-delete-sickness-type" data-toggle="modal" data-sickness-type-id="@sicknessType.Id"><i class="fa fa-trash-o"> </i> Delete</a>
            }
        }
    }
}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="sicknessTypeId" id="sicknessTypeId" />
                <p>Are you sure you want to remove this sickness type from the system? Click the close button to cancel.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteSicknessType();"><i class="fa fa-trash-o"></i> Delete</button>
                <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var apiBase = getApiBase() + "api/";
    $(document).on("click", ".open-delete-sickness-type", function () {
        // Get sicknessTypeId from the data-attr
        var sicknessTypeId = $(this).data('sickness-type-id');
        // Set hidden field in modal to retrieve later
        $('.modal-body #sicknessTypeId').val(sicknessTypeId);
    });

    function deleteSicknessType() {
        // Get id of the employee that was clicked on
        var sicknessTypeId = $(".modal-body #sicknessTypeId").val();
        var entity = {
            "Id": sicknessTypeId
        };

        if (sicknessTypeId.length > 0) {
            $.ajax({
                url: apiBase + "SicknessType/Delete",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(entity),
                type: "DELETE",
                success: function () {
                    $('#' + sicknessTypeId).remove();
                        toastr.success('Sickness Type Removed Successfully');
                },
                error: function () {
                    toastr.error("Sickness Type with Id: " + sicknessTypeId + " could not be removed.");
                }
            });
        }
        else {
            toastr.error("Sickness Type with Id: " + sicknessTypeId + " could not be removed.");
        }
    }
</script>