﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

p {
    font-size: 18px;
}

.field-validation-error
{
    color: red;
}

.numberCircle {
    border-radius: 50%;
    width: 120px; 
    font-size: 32px;
    border: 2px solid #666;
}
.numberCircle span {
    text-align: center;
    line-height: 120px;
    display: block;
    font-weight:bold;
}

.no-decoration{
    text-decoration:none !important;
}