﻿@{
    ViewBag.Title = "Employee Smart";
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}

@{
    if (!Request.IsAuthenticated)
    {
        <div class="jumbotron text-center">
            <h3>Welcome to the Employee Smart management portal. </h3>
            <p>You are not logged in.</p>
            <a class="btn btn-lg btn-primary" href="Account/Login"><i class="fa fa-sign-in"></i> Login</a>
            <a class="btn btn-lg btn-info" href="Account/Register"><i class="fa fa-user"></i> Register</a>
        </div>
    }
    else
    {
        <div class="well text-center">
            <h2 class="text-primary">Welcome: @ViewData["FullName"]</h2>
            <h3 class="text-danger">This portal is still under development</h3>
            <p><i class="text-primary fa fa-wrench fa-5x"></i></p>

            <p>Currently, this portal allows you to: Create, Read, Update and Delete Employees. In future updates you will be able to track employee's sickness episodes and view informaton about their contracts, if you have permission.</p>
        </div>

        <div class="well text-center">
           <h3 class="text-primary">Total @ViewData["CompanyName"] Employees</h3>
            <div class="numberCircle center-block bg-info">
                <a href="~/Employee" class="no-decoration"><span class="result text-primary">0</span></a>
            </div>
        </div>

    }
}

<script type="text/javascript">
    var apiBase = getApiBase() + "api/";
    $(document).ready(function () {
        var companyId = @Html.Raw(Json.Encode(ViewData["CompanyId"]));
  
        if (companyId !== null)
        {
            getStats();
        }

        function getStats(){
            $.ajax({
                url: apiBase + "stats/get?companyId=" + companyId,
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                headers: getTokenWithHeader(),
                type: "GET",
                success: function (data) {
                    $(".result").html(data);
                },
                error: function (err) {
                    toastr.error('Could not retrieve statistics.');
                }
            });
        };
      
    });
</script>
