﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.EmployeeSicknessAddViewModel
@{
    ViewBag.Title = "Add Employee Sickness";
}
@using (Html.BeginForm("AddSickness", "EmployeeSickness", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="well">
        <p>Add an employee sickness episode using the form below. Leave the end date blank if they have not returned to work yet.</p>
    </div>
    <hr />
    <div class="form-horizontal well">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group-lg">
            @Html.LabelFor(m => m.EmployeeList, new { @class = "control-label" })
            @Html.DropDownListFor(x => x.EmployeeId, new SelectList(Model.EmployeeList, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployeeId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            @Html.LabelFor(m => m.SicknessTypesList, new { @class = "control-label" })
            @Html.DropDownListFor(x => x.SicknessTypeId, new SelectList(Model.SicknessTypesList, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SicknessTypeId, "", new { @class = "text-danger" })
        </div> 
        <div class="form-group-lg">
            @Html.LabelFor(m => m.SicknessStartDate, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBoxFor(m => m.SicknessStartDate, new { @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.SicknessStartDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            @Html.LabelFor(m => m.SicknessEndDate, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBoxFor(m => m.SicknessEndDate, new { @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.SicknessEndDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            @Html.Bootstrap().TextAreaFor(m=>m.Comments, 5)
        </div> 
        <div class="form-group-lg">
            <br />
            <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-thermometer"></i> Add</button>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.input-group.date').datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'bottom'
        });
    });
</script>
