﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.EmployeeSicknessDetailViewModel
@{
    ViewBag.Title = "Edit Employee Sickness";
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}

@using (var form = Html.Bootstrap().Form("Edit", "EmployeeSickness", FormMethod.Post).Begin())
{
    @Html.AntiForgeryToken()
    <div class="well">
        <p>Review and make any changes below.</p>
    </div>
    <hr />

    <div class="well form-horizontal">
        @form.Input("Employee", "Employee", Model.Forename + " " + Model.Surname).AddAttribute("disabled", "disabled")

        @using (form.FormGroup("Sickness Start Date").Begin())
        {
            <div class="input-group date">
                <input id="SicknessStartDate" type="text" placeholder="dd/mm/yyyy" value="@Model.SicknessStartDate.ToString("dd/M/yyyy")" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        }

        @using (form.FormGroup("Sickness End Date").Begin())
        {
            <div class="input-group date">
                @if (Model.SicknessEndDate == null)
                {
                    <input id="SicknessEndDate" type="text" placeholder="dd/mm/yyyy" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                }
                else
                {
                    <input id="SicknessEndDate" type="text" placeholder="dd/mm/yyyy" value="@Model.SicknessEndDate.Value.ToString("dd/M/yyyy")" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                }
            </div>
        }

        @form.TextAreaFor(m => m.Comments, 5)
        @Html.Bootstrap().SelectFor(x => x.SicknessTypeId, new SelectList(Model.SicknessTypesList, "Value", "Text"))

        <div class="form-group-lg">
            <br />
            <button class="btn btn-success btn-lg" type="button" onclick="editEmployeeSickness()">
                <i class="fa fa-floppy-o"></i> Update
            </button>
        </div>
    </div>
}

<script type="text/javascript">
    var apiBase = getApiBase() + "api/";
    $(document).ready(function () {
        initDatePickers();
    });

    function editEmployeeSickness() {
        var entity = {
            "Id": @Html.Raw(Json.Encode(Model.Id)),
            "SicknessStartDate": parseDate($('#SicknessStartDate').val()),
            "SicknessEndDate": parseDate($('#SicknessEndDate').val()),
            "SicknessTypeId": $('#SicknessTypeId').val(),
            "Comments": $('#Comments').val()
        };

        $.ajax({
            url: apiBase + "Sickness/Put",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(entity),
            headers: getTokenWithHeader(),
            type: "PUT",
            success: function () {
                toastr.success('Employee Sickness Updated Successfully');
            },
            error: function (err) {
                toastr.error(err);
            }
        });
    }
</script>