﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.EmployeeSicknessListViewModel
@{
    ViewBag.Title = "Employee Sickness";
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#current">Current</a></li>
    <li><a data-toggle="tab" href="#historic">Historic</a></li>
    <li><a data-toggle="tab" href="#sicknessTypes">Sickness Management</a></li>
</ul>
<div class="tab-content">
    <div id="current" class="tab-pane fade in active">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">Employees Currently Sick</h3>
            </div>
        </div>
        @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Striped).SetResponsive().Begin())
        {
            @table.TableHeaderRow("Name", "Start of Sickness", "End of Sickness", "Actions")
            foreach (var employeeSickness in Model.Current)
            {
                using (var row = @table.TableDataRow().SetId(employeeSickness.Id.ToString()).Begin())
                {
                    @row.TableData(employeeSickness.Forename + " " + employeeSickness.Surname)
                    @row.TableData(employeeSickness.SicknessStartDate.ToString("dd/M/yyyy"))
                    if (employeeSickness.SicknessEndDate == null)
                    {
                        @row.TableData("-")
                    }
                    else
                    {
                        @row.TableData(employeeSickness.SicknessEndDate.Value.ToString("dd/M/yyyy"))
                    }

                    using (var tableData = row.TableData().Begin())
                    {
                        <div class="btn-group-sm">
                            @Html.Bootstrap().LinkButton("More", "Edit", "EmployeeSickness",
                      new
                      {
                          EmployeeSicknessId = employeeSickness.Id
                      }).SetState(ButtonState.Info).SetSize(ButtonSize.Sm).SetIcon(Icon.Edit)
                            <a href="#myModal" class="btn btn-danger open-delete-employee-sickness" data-toggle="modal" data-employee-sickness-id="@employeeSickness.Id"><i class="fa fa-trash-o"> </i> Delete</a>
                        </div>
                    }
                }
            }
        }

        <div class="row">
            <div class="col-xs-12">
                <a href="~/EmployeeSickness/Add" class="btn btn-lg btn-success pull-right"><i class="fa fa-thermometer-empty" aria-hidden="true"></i> New Sickness</a>
            </div>
        </div>
    </div>
    <div id="historic" class="tab-pane fade">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">Historic Employee Sicknesses</h3>
            </div>
        </div>
        @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Striped).SetResponsive().Begin())
        {
            @table.TableHeaderRow("Name", "Start of Sickness", "End of Sickness", "Actions")
            foreach (var employeeSickness in Model.Historic)
            {
                using (var row = @table.TableDataRow().SetId(employeeSickness.Id.ToString()).Begin())
                {
                    @row.TableData(employeeSickness.Forename + " " + employeeSickness.Surname)
                    @row.TableData(employeeSickness.SicknessStartDate.ToString("dd/M/yyyy"))
                    if (employeeSickness.SicknessEndDate == null)
                    {
                        @row.TableData("-")
                    }
                    else
                    {
                        @row.TableData(employeeSickness.SicknessEndDate.Value.ToString("dd/M/yyyy"))
                    }

                    using (var tableData = row.TableData().Begin())
                    {
                        <div class="btn-group-sm">
                            @Html.Bootstrap().LinkButton("More", "Edit", "EmployeeSickness",
                      new
                      {
                          EmployeeSicknessId = employeeSickness.Id
                      }).SetState(ButtonState.Info).SetSize(ButtonSize.Sm).SetIcon(Icon.Edit)
                            <a href="#myModal" class="btn btn-danger open-delete-employee-sickness" data-toggle="modal" data-employee-sickness-id="@employeeSickness.Id"><i class="fa fa-trash-o"> </i> Delete</a>
                        </div>
                    }
                }
            }
        }
    </div>
    <div id="sicknessTypes" class="tab-pane fade">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">System Sickness Types</h3>
            </div>
        </div>
        @Html.Action("List", "SicknessType")
        <div class="row">
            <div class="col-xs-12">
                <a href="~/EmployeeSickness/NewSicknessType" class="btn btn-lg btn-success pull-right"><i class="fa fa-thermometer-empty" aria-hidden="true"></i> New Sickness Type</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="employeeSicknessId" id="employeeSicknessId" />
                <p>Are you sure you want to remove this employee sickness from the system? Click the close button to cancel.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteEmployeeSickness();"><i class="fa fa-trash-o"></i> Delete</button>
                <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).on("click", ".open-delete-employee-sickness", function () {
        // Get employeeId from the data-attr
        var employeeSickness = $(this).data('employee-sickness-id');
        // Set hidden field in modal to retrieve later
        $('.modal-body #employeeSicknessId').val(employeeSickness);
    });

    function deleteEmployeeSickness() {
        var apiBase = getApiBase() + "api/";
        // Get id of the employee that was clicked on
        var employeeSicknessId = $(".modal-body #employeeSicknessId").val();

        var entity = {
            "Id": employeeSicknessId
        };
        if (employeeSicknessId.length > 0) {
            $.ajax({
                url: apiBase + "Sickness/Delete",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(entity),
                headers:getTokenWithHeader(),
                type: "DELETE",
                success: function () {
                    // Find the employee in table and remove them from the DOM.
                    $('#' + employeeSicknessId).remove();
                    toastr.success('Employee Sickness Removed Successfully');
                },
                error: function () {
                    toastr.error("Employee Sickness with Id: " + employeeSicknessId + " could not be removed.");
                }
            });
        }
        else {
            toastr.error("Employee Sickness with Id: " + employeeSicknessId + " could not be removed.");
        }
    }
</script>