﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.SicknessTypeAddViewModel
@{
    ViewBag.Title = "New Sickness Type";
}
@using (Html.BeginForm("AddNewSicknessType", "EmployeeSickness", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="well">
        <p>Add a new sickness type to the system by using the form below.</p>
    </div>
    <hr />
    <div class="form-horizontal well">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group-lg">
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Description, new { @class ="form-control" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            <br />
            <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-thermometer"></i> Add</button>
        </div>
    </div>
}