﻿@model Murray.OnlineStaffManager.Web.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal well", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group-lg">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group-lg">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group-lg">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group-lg">
        <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-floppy-o"></i> Update</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}