﻿@model Murray.OnlineStaffManager.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#yourAccount">Account</a></li>
    <li><a data-toggle="tab" href="#changePassword">Change Password</a></li>
    <li><a data-toggle="tab" href="#companyDetails">Company Details</a></li>
</ul>

<div class="tab-content">
    <div id="yourAccount" class="tab-pane fade in active">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">Your Details</h3>
            </div>
        </div>
        @Html.Action("MemberDetails", "Account")
    </div>

    <div id="changePassword" class="tab-pane fade">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">Change Password</h3>
            </div>
        </div>
        @Html.Action("ChangePassword", "Manage")
    </div>

    <div id="companyDetails" class="tab-pane fade">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">Company Details</h3>
            </div>
        </div>
        @Html.Action("CompanyDetails", "Account")
    </div>
</div>


