﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.EmployeeAddViewModel
@{
    ViewBag.Title = "Add Employee";
}

@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="well">
        <p>Add an employee using the form below.</p>
    </div>
    <hr />
    <div class="well form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group-lg">
            @Html.LabelFor(m => m.Forename, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Forename, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Forename, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            @Html.LabelFor(m => m.Dob, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBoxFor(m => m.Dob, new { @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.Dob, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            @Html.LabelFor(m => m.EmployeeStartDate, new { @class = "control-label" })
            <div class="input-group date">
                @Html.TextBoxFor(m => m.EmployeeStartDate, new { @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.EmployeeStartDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-lg">
            <br />
            <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-user-plus"></i> Add</button>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.input-group.date').datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'bottom'
        });
    });
</script>