﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.EditEmployeeViewModel
@{
    ViewBag.Title = "Edit Employee";
    @Scripts.Render("~/bundles/auth", "~/bundles/utils")
}
@if (Model != null)
{
    <div class="well">
        <p>Use the form below to update an employee's details.</p>
    </div>
    <hr />

    <div class="form-horizontal well">
        <div class="form-group-lg">
            <label class="control-label" for="forename">Forename</label>
            <input type="text" class="form-control" id="forename" value="@Model.Forename" placeholder="Forename"/>
        </div>
        <div class="form-group-lg">
            <label class="control-label" for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" value="@Model.Surname"placeholder="Surname" />
        </div>
        <div class="form-group-lg">
            <label class="control-label" for="dob">Date Of Birth</label>
            <div class="input-group date">
                <input id="dob" placeholder="dd/mm/yyyy" value="@Model.DateOfBirth.ToString("dd/M/yyyy")" type="text" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="form-group-lg">
            <label class="control-label" for="startDate">Employee Start Date</label>
            <div class="input-group date">
                <input id="startDate" type="text" placeholder="dd/mm/yyyy" value="@Model.EmployeeStartDate.ToString("dd/M/yyyy")" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="form-group-lg">
            <br />
            <button type="button" class="btn btn-success btn-lg" onclick="editEmployee()"><i class="fa fa-floppy-o"></i> Update </button>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>No Employee has been selected <i class="fa fa-exclamation-triangle fa-5x"></i></h2>
        </div>
    </div>
}

<script type="text/javascript">
    var apiBase = getApiBase() + "api/";
    $(function () {
        initDatePickers();
    });

    function editEmployee() {
        var entity = {
            "Id": @Html.Raw(Json.Encode(Model.Id)),
            "Forename": $('#forename').val(),
            "Surname": $('#surname').val(),
            "DateOfBirth": parseDate($('#dob').val()),
            "EmployeeStartDate": parseDate($('#startDate').val())
        };

        // Only make AJAX request if an employee has been selected.
        if (entity.EmployeeStartDate != -1) {
            $.ajax({
                url: apiBase + "Employee/Put",
                dataType: "json",
                data: JSON.stringify(entity),
                contentType: "application/json; charset=utf-8",
                headers: getTokenWithHeader(),
                type: "PUT",
                success: function () {
                    toastr.success('Employee Updated Successfully');
                },
                error: function () {
                    toastr.error('Something went wrong');
                }
            });
        }
        else {
            toastr.warning('Something went wrong.');
        }
    }
</script>
