﻿@model List<Murray.OnlineStaffManager.Web.Models.ViewModels.ListEmployeesViewModel>
@{
    ViewBag.Title = "Employees";
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#current">Current</a></li>
    <li><a data-toggle="tab" href="#historic">Historic</a></li>
</ul>

<div class="tab-content">
    <div id="current" class="tab-pane fade in active">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">Employed Staff</h3>
            </div>
        </div>
        @Html.Action("CurrentEmployeesList", "Employee")
        <div class="row">
            <div class="col-xs-12">
                <a href="~/Employee/Add" class="btn btn-lg btn-success pull-right"><i class="fa fa-user-plus"></i> Add Employee</a>
            </div>
        </div>
    </div>

    <div id="historic" class="tab-pane fade">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-header text-primary">Past Employees</h3>
            </div>
        </div>
        @Html.Action("PastEmployeesList", "Employee")
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="employeeId" id="employeeId" />
                <p>Are you sure you want to remove this employee from the system? Click the close button to cancel.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteEmployee();"><i class="fa fa-trash-o"></i> Delete</button>
                <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>

       
