﻿@{
    ViewBag.Title = "Confirm Email";
}

<div class="well text-center">
    <h4 class="text-primary">Thank you for confirming your email address.</h4>
    <h4 class="text-primary">
        You may now log in to the system.
    </h4>
    <a href="~/Account/Login"class="btn btn-default"><i class="fa fa-user text-primary"></i> Log in</a>
</div>