﻿@model Murray.OnlineStaffManager.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="well">
    <p>Enter your email address below to request a password reset link.</p>
</div>
<hr />
@using (var form = Html.Bootstrap().Form("ForgotPassword", "Account", FormMethod.Post).Begin())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal well">
        @form.InputFor(m => m.Email)
        <br />
        <button type="submit" class="btn btn-lg btn-primary">
            <i class="fa fa-send"></i> Send Reset Link
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
