﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="jumbotron">
    <h1>Password reset link has been sent to your email address.</h1>
    <h3>Follow the instructions in the email to reset your password.</h3>
</div>
