﻿@using Murray.OnlineStaffManager.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/auth", "~/bundles/utils")
}

<div class="well">
    <p>Log in below using your credentials.</p>
</div>
<hr />
@using (var form = Html.Bootstrap().Form("Login", "Account",
                FormMethod.Post,
                new { ReturnUrl = ViewBag.ReturnUrl })
                .Begin())
{
    @Html.AntiForgeryToken()

    <div id="loginForm" class="well form-horizontal">

        @form.InputFor(m => m.Email)
        @Html.ValidationMessageFor(m=> m.Email)
        @form.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        <div class="btn-group">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-sign-in"></i> Log in</button>
            <a href="~/Account/ForgotPassword" class="btn btn-lg btn-link"> Forgot your password?</a>
        </div>



    </div>
    }
<script type="text/javascript">
    function getToken() {
        var apiBase = getApiBase();
        var usernameInput = $('#Email').val();
        var passwordInput = $('#Password').val();

        var loginData = {
            grant_type: 'password',
            username: usernameInput,
            password: passwordInput
        };

        $.ajax({
            type: 'POST',
            url: apiBase + "oauth/token",
            data: loginData
        }).done(function (data) {
            sessionStorage.setItem("tokenKey", data.access_token);
        }).fail(function (err) {
            // do nothing, the page will be refreshed with ModelState errors.
        });
    }

</script>