﻿@model Murray.OnlineStaffManager.Web.Models.ViewModels.RegisterSuccessViewModel

<div class="jumbotron">
    <h1>Registration Successful</h1>
    <p>
        An account has been made. You must confirm your email address first to log in.
        We have sent an email to the address you provided: <span class="text-primary">@Model.Email</span>
    </p>
    <p>
        Once you receive the email from Employee Smart, click the link to activate your account.
    </p>
</div>