﻿@model Murray.OnlineStaffManager.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="well">
    <p>Create a new account by providing your details below.</p>
</div>
<hr />

@using (var form = Html.Bootstrap().Form("Register", "Account", FormMethod.Post).Begin())
{
    @Html.AntiForgeryToken()
    <div class="well form-horizontal">
        @form.InputFor(m => m.Forename)
        @Html.ValidationMessageFor(m => m.Forename)

        @form.InputFor(m => m.Surname)
        @Html.ValidationMessageFor(m => m.Surname)

        @form.InputFor(m => m.CompanyName)
        @Html.ValidationMessageFor(m => m.CompanyName)

        @form.InputFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)

        @form.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)

        @form.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <br/>
        <button class="btn btn-primary btn-lg" type="submit">
            <i class="fa fa-user"></i> Register
        </button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
