﻿@model Murray.OnlineStaffManager.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="well">
    <p>Almost done. Enter your email address and new password below.</p>
</div>
<hr />
@using (var form = Html.Bootstrap().Form("ResetPassword", "Account", FormMethod.Post).Begin())
{
    @Html.AntiForgeryToken()
    <div class="well form-horizontal">
        @Html.Bootstrap().ValidationSummary(includePropertyErrors: true)

        @form.HiddenFor(m => m.Code)
        @form.InputFor(m => m.Email)
        @form.PasswordFor(m => m.Password)
        @form.PasswordFor(m => m.ConfirmPassword)

        <br />
        @form.Submit("Reset Password").SetSize(ButtonSize.Lg).SetState(ButtonState.Primary)
    </div>
}