﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="jumbotron">
    <h1>Your password has been reset successfully.</h1>
    <p>Use your newly created password to log into the system.</p>
    <a href="~/Account/Login" class="btn btn-default btn-lg"><i class="fa fa-user text-primary"></i> Log in</a>
</div>